<h1>EJS Practice - <%= page %> </h1>
<hr />
<a href="/" <% if (currentRoute == "/") { %> class="active" <% } %>>Home</a> | 
<a href="/about" <% if (currentRoute == "/about") { %> class="active" <% } %>>About</a> | 
<hr />
<br />