<a href="/" <% if (currentRoute == "/") { %> class="active" <% } %>>Home</a> | 
<a href="/about" <% if (currentRoute == "/about") { %> class="active" <% } %>>About</a> | 
<a href="/layout" <% if (currentRoute == "/layout") { %> class="active" <% } %>>Layout</a>
<hr />
<br />