<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="flex justify-between items-center">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/"
            >Lego Collection</a
          >
        </div>
  
        <div class="navbar-center">
          <ul class="menu menu-horizontal px-1 flex items-center space-x-3">
              <li>
                  <a href="/about">About</a>
              </li>
            <li>
              <details>
                  <summary>Theme</summary>
                  <ul>
                      <li>
                        <a href="/lego/sets?theme=avengers">Avengers</a>
                      </li>
                      <li>
                        <a href="/lego/sets?theme=creator">Creator</a>
                      </li>
                      <li>
                        <a href="/lego/sets?theme=batman">Batman</a>
                      </li>
                  </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
  
  </br>
  
      <div class="container mx-auto">
          <div class="hero bg-base-200 rounded-lg p-5">
              <div class="hero-content text-center">
                  <div class="max-w-md">
                      <h1 class="text-8xl font-bold">404</h1>
                      <h1 class="text-xl font-bold">Not Found</h1>
                      <p class="py-6">We are unable to find what you're looking for :(</p>
                     
                  </div>
              </div>
          </div>
      </div>
      </body>
</html>
