<div class="container mx-auto">
  <div class="hero bg-base-200 rounded-lg p-6">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">About</h1>
        <p class="py-6">Who am i?</p>
      </div>
    </div>
  </div>
  <br />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div>
      <img class="object-fill rounded-lg" src="/img/img.jpeg" />
    </div>
    <div>
      My name is Marc Bensan. I am a Computer Programming & Analysis (CPA)
      student @ Seneca Polytechnic. Creating softwares in my spare time,
      prioritizing learning and innovation. I waste money on cardboard (Pokemon
      Cards) and also {DROP TABLE speeding_license_plates;}
    </div>
  </div>
</div>
