    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body>
    <div class="flex justify-between items-center">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/"
            >Lego Collection</a
          >
        </div>
  
        <div class="navbar-center">
          <ul class="menu menu-horizontal px-1 flex items-center space-x-4">
              <li>
                  <a href="/about">About</a>
              </li>
            <li>
              <details>
                  <summary>Theme</summary>
                  <ul>
                      <li>theme1</li>
                      <li>theme2</li>
                      <li>theme3</li>
                  </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
  
  </br>
  
      <div class="container mx-auto">
          <div class="hero bg-base-200 rounded-lg p-6">
              <div class="hero-content text-center">
                  <div class="max-w-md">
                      <h1 class="text-xl font-bold">Welcome</h1>
                      <p class="py-6">This is where the description would go</p>
                      <a href="/lego/sets" class="btn btn-primary">Get Started Now</a>
                  </div>
              </div>
          </div>
  
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              <div>
                  <div class="card bg-base-100 shadow-xl">
                      <figure>
                          <img src="https://cdn.rebrickable.com/media/sets/0011-3.jpg">
                      </figure>
                  </div>
                  <div class="card-body">
                      <h2 class="card-title">Gears</h2>
                      <p>This is a description for the card</p>
                  </div>
                  <div class="card-actions justify-end">
                      <a class="btn btn-primary">View</a>
                  </div>
              </div>
              <div>
                  <div class="card bg-base-100 shadow-xl">
                      <figure>
                          <img src="https://cdn.rebrickable.com/media/sets/0014-1.jpg">
                      </figure>
                  </div>
                  <div class="card-body">
                      <h2 class="card-title">Nursery Furniture</h2>
                      <p>This is a description for the card</p>
                  </div>
                  <div class="card-actions justify-end">
                      <a class="btn btn-primary">View</a>
                  </div>
              </div>
              <div>
                  <div class="card bg-base-100 shadow-xl">
                      <figure>
                          <img src="https://cdn.rebrickable.com/media/sets/00-6.jpg">
                      </figure>
                  </div>
                  <div class="card-body">
                      <h2 class="card-title">The race to build</h2>
                      <p>This is a description for the card</p>
                  </div>
                  <div class="card-actions justify-end">
                      <a class="btn btn-primary">View</a>
                  </div>
              </div>
          </div>
      </div>
      </body>
</html>
